@import "vars";
@import "global";
@import "animat";
@import "fonts";


// Header - Start
#button-up {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 100px;
    color: $orange;
    text-align: center;
    font-size: 30px;
    padding: 15px;
    transition: 0.3s;
    z-index: 100;
}

#button-up:hover {
    cursor: pointer;
    transition: 0.3s;
}
.header {
    position: relative;
}

.header__top {
    display: flex;
    justify-content: space-around;
}
.header__logo {
    margin-top: 40px;
}
.logo {
    color: $orange;
    height: 90px;
    width: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.cloude {
    margin-left: -180px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    width: 100%;
    min-width: 2500px;
    z-index: 2;
}
#scene {
    overflow: hidden;
}

.header__menu {
    margin-top: 60px;
    display: flex;
    ul {
        display: flex;
    }
    li {
        margin-right: 55px;
    }
    li:last-child {
        margin-right: 0;
    }
    a {
        font-weight: 600px;
        font-size: 16px;
        color: $orange;
    }
    a:hover {
        background-color: $orange;
        color: #fff;
    }
}

.header__wrapper {
    display: none;
    position: absolute;
    top: 0;
    max-width: 1170px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
.header__info {
    text-align: center;
}
.header__title {
    margin-top: 120px;
    font-weight: 700;
    font-size: 35px;
    color: $orange;
    margin-bottom: 45px;
    span {
        display: block;
    }
}
.point {
    margin: 0 auto;
    border-radius: 50%;
    content: "";
    background-color: $orange;
    width: 7px;
    height: 7px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.point:before,
.point:after {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    background-position: center;
    width: 80px;
    height: 2px;
    content: "";
    top: 3px;
    position: absolute;
}
.point:after {
    left: -100px;
}
.point:before {
    right: -100px;
}

.header__text {
    margin-bottom: 45px;
    margin-top: 45px;
    color: $orange;
    font-size: 20px;
    font-weight: 600;
}
.header__btn {
    a {
        color: $orange;
        font-size: 20px;
        font-weight: 400;
    }
    a:hover {
        background-color: $orange;
        color: #fff;
    }
}

// Header - End

// Content - Start

.content {
    max-width: 100%;
    width: 100%;
    margin-top: -154px;
    display: none;
    background-color: #fff;
    z-index: 1;
    position: relative;
    &::before {
        background-image: url(../images/tri.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 128px;
        content: "";
        position: absolute;
        top: -127px;
    }
}

.header__section-top {
    position: relative;
    z-index: 3;
}

.header__start {
    .btn__start {
          cursor: pointer;
        padding: 18px 23px;
        background-color: #e74c3c;
        border-radius: 50%;
        position: absolute;
        top: -526px;
        z-index: 3;
        width: 100px;
        height: 100px;
        left: 0;
        right: -15px;
        margin-left: auto;
        margin-right: auto;
    }
}
.header__start-bg {
    cursor: pointer;
    top: -541px;
    width: 123px;
    height: 123px;
    left: 0;
    right: -15px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    content: "";
}

.header__start-bg.out{
    display: none;
}
.info__inner {
    overflow: none;
    padding-bottom: 70px;
    padding-top: 90px;
    display: flex;
    justify-content: space-between;
}

.info__item {
    display: block;
}

.cube {
    width: 75px;
    height: 75px;
    position: relative;
    transition: 0.5s;
    &::before {
        position: absolute;
        left: 0;
        top: 0;
        content: "\e9db";
        font-family: "icomoon";
        color: black;
        font-size: 60px;
        padding: 20px;
    }
}
.info__item-line {
    right: 0;
    left: 0;
    margin: 0 auto;
    content: "";
    position: absolute;
    width: 50px;
    background-color: #6a6a6a;
    height: 1px;
}
.info__item-text {
    margin: 0 auto;
    margin-top: 40px;
    max-width: 200px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #6a6a6a;
}
.info__item-title {
    margin-bottom: 20px;
    margin-top: 30px;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.075em;
    color: #6a6a6a;
}
.info__item {
    text-align: center;
    position: relative;
    &:hover {
        .icon-map,
        .icon-heartbeat,
        .icon-lightbulb-o,
        .icon-comments,
        .icon-camera-retro {
            color: #fff;
        }
        .cube {
            transform: rotate(45deg);
            background-color: $orange;
        }
        .info__item-title {
            color: $orange;
        }
    }
    .icon-map,
    .icon-heartbeat,
    .icon-lightbulb-o,
    .icon-comments,
    .icon-camera-retro {
        position: absolute;
        left: 0;
        right: 0;
        top: 4px;
        font-family: "icomoon";
        color: black;
        font-size: 30px;
        padding: 20px;
    }
}

// Content - End

// history - Start
.history{
    display: none;
   
}

.history__wrapper {
    display: none;
}
.history__inner {
    z-index: 3;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    padding-top: 200px;
    width: 100%;
    position: relative;
    text-align: center;
    padding-bottom: 70px;
}

.bg__history {
                background-repeat:no-repeat;
background-position:50%;
    background-attachment: fixed;
        background-size: cover;
        max-width: 100%;
        width: 100%;
   
        height: 400px;
  overflow: hidden;
  z-index: -2;
    }

    

.title {
    max-width: 540px;
    position: relative;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: #6a6a6a;
    margin: 0 auto;
    &::after {
        content: "";
        top: 10px;
        width: 7px;
        height: 36px;
        background-color: $orange;
        position: absolute;
        left: 0;
    }
}

.text {
    padding: 20px;
    max-width: 600px;
    font-size: 14px;
    color: #999999;
    line-height: 30px;
    margin: 0 auto;
}
.history__text2 {
    margin-top: 30px;
}
.history__item {
    img {
        border: 7px solid #fff;
        border-radius: 40px;
        max-width: 500px;
        width: 100%;
    }
}

// history - End

// Why-Start

.why {
    display: none;
    position: relative;
    &::before {
        background-color: #fff;
        content: "";
        height: 300px;
        width: 4000px;
        position: absolute;
        bottom: 0;
        z-index: -2;
    }
    padding-bottom: 200px;
    .point {
        margin-bottom: 100px;
    }
    margin-top: 150px;
    .card {
        position: relative;
        padding-top: 50px;
        img {
            margin-left: 50px;
            border-radius: 40px;
            max-width: 450px;
        }
    }
}
.bg__main {
    position: absolute;
    z-index: -2;
    top: 0;
    height: 387px;
    background-color: #e74c3c;
    width: 550px;
    border-radius: 40px;
    content: "";
}
.youtube {
    height: 100px;
    position: absolute;
    left: 155px;
    margin: 0 auto;
    top: 55%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.bg__why {
    top: 30px;
    position: absolute;
    z-index: -1;
    left: 25px;
    height: 337px;
    background-color: #fff;
    width: 500px;
    border-radius: 40px;
    content: "";
}
.card__wrapper {
    position: relative;
}

.price__inner,
.why__inner {
    display: flex;
}

.why__inner-yuotube {
    margin-top: 50px;
    .why__item-text {
        margin-top: 130px;
        font-size: 20px;
    }
}

.why__item {
    display: flex;
    img {
        max-width: 300px;
        border-radius: 40px;
    }
}
.why__item-text {
    max-width: 550px;
    margin-left: 130px;
}

// Why - End

.bg__hot {
    z-index: -3;
    position: relative;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    width: 100%;
    height: 400px !important;
    min-height: 100px;
}
// Hot - Start

.hot {
    display: none;
    .why {
        padding-top: 300px;
    }
}

// Hot -End

// Prise - Start
.price {
    display: none;
}
.price__wrapper {
    background-color: #f4f5f9;
    padding-top: 100px;
    padding-bottom: 100px;
}
.price__inner {
    margin: 0 auto;
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    justify-content: space-between;
}

.price__item-title {
    font-size: 24px;
    line-height: 1.2;
    font-weight: 600;
    color: #fff;
}

.price__item {
    border-radius: 40px;
    box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    max-width: 370px;
    width: 100%;
    &:hover {
        .price__item-btn {
            background-color: $orange;
        }
        .price__item-top {
            background-color: $orange;
        }
        .price__price {
            color: $orange;
        }
    }
}
.price__item-top {
    transition: 1s;
    position: relative;
    background-color: #cccccc;
}
.price__item-title {
    padding-top: 50px;
    padding-bottom: 100px;
    &:after {
        display: none;
    }
}
.price__item-footer {
    background-color: #fff;
}
.price__price {
    transition: 1s;
    font-size: 20px;
    position: relative;
    display: inline-block;
    z-index: 1;
    color: #bababa;
    &:before {
        z-index: -1;
        border-radius: 50%;
        opacity: 1;
        background-color: #f4f4f4;
        content: "";
        width: 150px;
        height: 150px;
        position: absolute;
        top: -60px;
        left: -43px;
    }
}
.bg__price-price {
    z-index: -2;
    border-radius: 50%;
    opacity: 0.5;
    background-color: #fff;
    content: "";
    width: 180px;
    height: 180px;
    position: absolute;
    top: -75px;
    left: -58px;
}
.price__item-text {
    padding-top: 125px;
}
.contact__btn,
.price__item-btn {
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.25);
    padding: 21px 24px 21px 24px;
    border-radius: 40px;
    color: #fff;
    display: inline-block;
    background-color: #999999;
    margin-top: 45px;
    margin-bottom: 45px;
    cursor: pointer;
    transition: 1s;
}

// Prise - End

// Give - Start
.give__inner {
    box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.1);
    margin-top: 53px;
}
.give {
    display: none;
    background-color: #f4f5f9;
    position: relative;
}
.give__bg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background: fixed;
    width: 100%;
    max-width: 100%;
    position: relative;
    &::before {
        background-color: #202020;
        content: "";
        width: 50%;
        min-height: 680px;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.give__items {
    max-width: 50%;
    padding: 30px;
    padding-bottom: 90px;
    padding-top: 120px;
    position: relative;
}
i{
    border-radius: 50%;
    background-color: #e74c3c;
    color: #fff;
    font-size: 20px;
    padding: 5px;
}
.give__item {
    padding-top: 60px;
    position: relative;
    .info__item.info-foto {
        position: absolute;
        right: -67px;
        top: 30px;
        margin-top: 60px;
        transform: rotate(45deg);
    }
    .icon-map,
    .icon-heartbeat,
    .icon-camera-retro {
        top: 4px;
        transform: rotate(-45deg);
    }
    .cube {
        background-color: #fff;
    }
}

.give__item-text {
    max-width: 450px;
    width: 100%;
    z-index: 2;
    font-size: 14px;
    line-height: 29px;
    font-weight: 400;
    display: block;
    color: #fff;
}

.give__item-title {
    z-index: 2;
    display: flex;
    align-items: flex-end;
    right: 0;
    font-size: 18px;
    line-height: 29px;
    font-weight: 600;
    color: #e74c3c;
}
.give__items-title {
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: #fff;
    position: absolute;
    margin: 0 auto;
    left: 30px;
    top: 30px;
    &:before {
        content: "";
        width: 6px;
        height: 36px;
        position: absolute;
        right: -30px;
        background-color: #e74c3c;
        top: 7px;
    }
}

// Give - End

// Photo - Start
.photo {
    display: none;
}
.photo__galery {
    padding-top: 200px;
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
    img {
        width: 250px;
        height: 150px;
    }
}
.photo-wrapper {
    background-color: #f4f5f9;
    padding-top: 100px;
    margin-top: 40px;
    padding-bottom: 100px;
    text-align: center;
}
// Photo - End

// reviews - Start
.reviews {
    display: none;
    background-color: #f4f5f9;
    position: relative;
}
.reviews__wrapper {
    position: absolute;
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
    top: 0;
    right: 0;
    left: 0;
}
.reviews__bg2 {
    box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.1);
    margin-top: 53px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 803px;
    opacity: 1;
}

.bg__reviews {
    margin-top: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 803px;
    content: "";
    background-color: black;
    opacity: 0.5;
}

.reviews__inner {
    padding-top: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
}
.reviews__item {
    margin-bottom: 30px;
    flex-basis: calc(50% - 30px);
    max-width: 100%;
    display: flex;
}
.user__img {
    img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-right: 20px;
    }
}

.user__name {
    font-size: 25px;
    padding-bottom: 10px;
    color: #fff;
}
.user__text {
    max-width: 400px;
    width: 100%;
    font-size: 16px;
    color: #fff;
}
.user__line {
    content: "";
    width: 110px;
    background-color: #e74c3c;
    height: 4px;
    margin-bottom: 15px;
}
// reviews - End

// Service - Start

.servise {
    display: none;
    position: relative;
    &::before {
        background-color: #fff;
        box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.1);
        content: "";
        height: 200px;
        width: 4000px;
        position: absolute;
        top: 0;
    }
}

// Servise - End

// Contacts - Start

.container-wrapper {
    background-color: #f4f5f9;
    margin-top: 40px;
    padding-top: 100px;
}
.contacts__inner {
    margin: 0 auto;
    max-width: 1170px;
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-around;
}
.contacts__item-info {
    margin-right: 30px;
    a {
        color: #999999;
    }
}
.contacts__item-title {
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    color: #e74e3e;
}
.contacts__item-info {
    margin-bottom: 60px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #999999;
}
.contacts__item-form {
    flex-basis: calc(180% - 30px);
    height: 599px;
}
.contacts__item {
    box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    border: #dadadd solid 1px;
    padding: 80px;
    background-color: #fff;
    max-width: 100%;
    width: 100%;
    input {
        font-size: 15px;
        font-weight: 400;
        display: block;
        width: 100%;
        padding: 12px 25px;
        border: 1px solid #d9dfe5;
        border-top: none;
        border-left: none;
        border-right: none;
        margin-bottom: 30px;
        &::placeholder {
            color: #898f96;
        }
        outline: none;
    }
    textarea {
        border-radius: 10px;
        border: 1px solid #d9dfe5;
        padding: 15px;
        outline: none;
        max-width: 600px;
        width: 100%;
        resize: none;
        height: 180px;
    }
}
.contact__btn {
    border-radius: 20px;
    border: none;
    margin-top: 20px;
    &:hover {
        background-color: $orange;
    }
}
// Contacts - End

// Map - Start
iframe {
    border-radius: 20px;
    box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    width: 100%;
    height: 500px;
    z-index: 2;
}
.map__bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $orange;
    background-position: center;
    content: "";
    max-width: 100%;
    padding: 36px;
    border-radius: 40px;
    height: 585px;
}
.map__wrapper {
    background-color: #f4f5f9;
    padding-top: 115px;
    padding-bottom: 91px;
}
.map__inner {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

// Map - End
.footer {
    display: none;
    max-width: 100%;
    width: 100%;
    height: 90px;
    background-color: #202020;
}
.footer__icons {
    display: flex;
    justify-content: space-around;
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    ul {
        justify-content: flex-start;
        display: flex;
    }
    a {
        transition: 1s;
        font-family: "icomoon";
        color: #999999;
        font-size: 30px;
        padding: 30px;
    }
    a:hover {
        color: $orange;
    }
}
.footer__my-teg {
    color: #999999;
    font-size: 18px !important;
}


@import "media";